header {
  display: block;
  font-size: 70pt;
  font-family: Courier New;
  background-color: #FFFFFF;
  text-align: center;
  padding: 30px
}
.h1{
  font-family: Courier;
  text-align: center;
}

nav li  {
   color: #f2f2f2;
   text-decoration: none;
}
