header {
  display: block;
  font-size: 70pt;
  font-family: Courier New;
  background-color: #FFFFFF;
  text-align: center;
  padding: 30px
}
.h1{
  font-family: Courier;
  text-align: center;
}
/* Nav links */
nav li  {
   display: inline;
   text-align: left;
}
/* Create two equal columns that align next to each other */
.column2 {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    background: #f1f1f1;
    box-sizing: content-box;
    margin: 1%;


}
/* Create three equal columns that align next to each other */
.column3 {
    display: inline-block;
    vertical-align: text-top;
    width: 40%;
    box-sizing: content-box;
    margin: 1.4%;
    text-align: center;
    border-style: dashed;
    border-color: #FFD700;
    font-weight: lighter;

}
.columnLeft {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    box-sizing: content-box;
    margin: 1.4%;
    border-color: #9ACD32;
    border-style: dashed;
}
.columnRight {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    box-sizing: content-box;
    margin: 1.4%;
    border-color: #9ACD32;
    border-style: dashed;
}

.right {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  width: 30%;
  background-color: #FFFFFF
}
.gallery {
  text-align: center;
  font-family: Courier
}
.gallery img {
  width:200px;
  margin: 10px;
  border: 2px solid white;
}
.gallery img:hover {
  border: 2px solid orange;
}

  footer{
    display: block;

    padding: 5px;
  }
