header {
  display: block;
  font-size: 70pt;
  font-family: Courier New;
  background-color: #FFFFFF;
  text-align: center;
  padding: 30px
}
h1{
  text-align: center;
}
body {margin:0; pedding:0;}
.wrapper {
  display:block;
  width: 100%
  max-width: 1000px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
nav {
  display:block;
}

.navlinks li{
  display: inline;
}
.navlinks a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.left {
  display: inline-block;
  vertical-align: top;

  width: 20%;
  min-height: 400px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin: 10px;
  padding: 30px;

}
.right {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  min-height: 500px;
  background: #333333;

  margin: 10px;
  padding: 30px;
  }
  footer{
    display: block;

    padding: 10px;
  }
